---
import { cn } from '~/utils/cls'

type Props = {
  className?: string
}

const { className } = Astro.props
---

<header
  class={cn(
    'flex items-center h-16 md:h-18 z-50 sticky top-0 bg-[hsl(0, 0%, 100%)]',
    className,
  )}
>
  <div class="container relative flex w-full items-center justify-center">
    <div class="hidden md:flex">
      <slot name="left-header" />
    </div>
  </div>
</header>
